<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Oceń miejsce</title>
	<link rel="stylesheet" href="css/bootstrap-3.3.7-dist/css/bootstrap.css" />
	<link rel="stylesheet" href="css/bootstrap-3.3.7-dist/css/style.css" />
</head>
<body>

	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/index">Strona główna</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="/addPlace">Dodaj Miejsce</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/login">Zaloguj sie</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/logout">Wyloguj</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/account">Konto</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>

	<main>

	

	<div class="container">
		
		<div class="map-wrapper">
		<div id="map"></div>
		<p><b>Kliknij 2 razy na mape aby dodać marker i przesuń go na odpowiednią pozycje na mapie</b></p>
	</div>
		
		<h2 class="title">Dodaj miejsce</h2>
		
		<div class="row">
			
			<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
				<p class="bg-success"></p>
				<div class="panel panel-default">
					<div class="panel-body">
						<form action="" method="post" enctype="multipart/form-data">
							
							<span class="bg-danger"></span>
							
							<div class="form-group">
								<label for="place-name">Nazwa miejsca:</label>
								<input type="text" class="form-control" id="place-name" />
								<p class="bg-danger"></p>
							</div>

							<div class="form-group">
								<label for="description">Opis:</label>
								<textarea rows="6" cols="20" class="form-control" id="description"></textarea>
								<p class="bg-danger"></p>
							</div>
							
							<div class="form-group">
								<label for="latitude">Szerokość geograficzna:</label>
								<input type="text" class="form-control" id="latitude" readonly="true" />
								<p class="bg-danger"></p>
							</div>

							<div class="form-group">
								<label for="longitude">Długość geograficzna:</label>
								<input type="text" class="form-control" id="longitude" readonly="true" />
								<p class="bg-danger"></p>
							</div>
							
							<div class="form-group">
							<label for="type">Wybierz typ:</label>
								<select  class="form-control" id="type">
									<option></option>
								</select>
								<p class="bg-danger"></p>
							</div>
							
							<div class="form-group">
								<label for="type">Wybierz zdjecie:</label>
								<input type="file" class="form-control" name="file"/>
								<p class="bg-danger"></p>
							</div>

							<button type="submit" class="btn btn-primary" id="submit">Wyślij</button>
							<p class="bg-success" id="register-msg"></p>
						</form>
					</div>
				</div>
			</div>
		</div>
		
	</div>

	</main>

	<footer class="footer">
		<div class="container">
			<span class="text-muted">Wojciech Bać © 2017</span>
		</div>
	</footer>

	<script src="js/jquery-3.1.1.min.js"></script>
	<script src="css/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
	<script async="async" defer="defer"
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAFRG4nmWUTnmG61UhiNBcKo5kIs44P9Y&amp;callback=initMap">
		
	</script>
</body>
</html>