<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Oceń miejsce</title>
<link rel="stylesheet" href="css/bootstrap-3.3.7-dist/css/bootstrap.css" />
<link rel="stylesheet" href="css/bootstrap-3.3.7-dist/css/style.css" />
</head>
<body ng-app="ratePlace">

	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
					aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/index">Strona główna</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="/addPlace">Dodaj Miejsce</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/login">Zaloguj sie</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/logout">Wyloguj</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/account">Konto</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

	<main ng-controller="PlaceController as ctrl">

	<div class="container">
		<div class="map-wrapper">
			<div id="map"></div>
		</div>

		<h3 class="title">Najwyżej ocenione</h3>

		<div class="visited-places">

			<div class="panel-group">
				<div ng-repeat="p in ctrl.places" class="panel panel-default">
					<div ng-bind="p.name" class="panel-heading"></div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-2 col-sm-4 col-xs-0">
								<img class="img-responsive" id="avatar" ng-src="http://localhost:8080/placeImage/{{p.imagePath}}" />
							</div>
							<div class="col-md-10 col-sm-8 col-xs-12">
								<div id="description">
									<p>
										Opis: <span ng-bind="p.description"></span>
									</p>
								</div>
								<div id="type">
									<p>
										Typ: <span ng-bind="p.type.name"></span>
									</p>
								</div>
								<div>
									<p>
										Średnia ocena: <span ng-bind="p.avgGrade"></span>
									</p>
								</div>
								<a ng-href="/place/{{p.id}}">[Zobacz szczegóły]</a>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>
	</div>

	</main>

	<footer class="footer">
		<div class="container">
			<span class="text-muted">Wojciech Bać © 2017</span>
		</div>
	</footer>


	<script>
	var map;
	function initMap() {
		var center = {
			lat : 50.0379308,
			lng : 22.0023498
		};
		map = new google.maps.Map(document.getElementById('map'), {
			zoom : 15,
			center : center,
			minZoom : 4
		});
	}
	</script>
	<script src="js/jquery-3.1.1.min.js"></script>
	<script src="css/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-route.js"></script>
	<script src="js/rate_place.js"></script>
	<script src="js/service/place_service.js"></script>
	<script src="js/controller/place_controller.js"></script>
	<script async="async" defer="defer"
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAFRG4nmWUTnmG61UhiNBcKo5kIs44P9Y&amp;callback=initMap">
		
	</script>

</body>
</html>